body {
    font-family: Helvetica;
}
#player-one-score{
font-style:italic;
color:blue;    
}
#player-two-score{
font-weight:bold;
color:red;
}
.player-one-name{
    font-family:castellar;
    font-size:55px;
    color:blue;
}
.player-two-name{
    font-family:chiller;
    font-size:55px;
    color:yellow;
    background-color:black;
      border-radius:10px;
  width:300px;
}
img{
    width: 350px;
    height: 350px;
}